.kanban_items {
  background-color: #fff;
  width: 320px;
  height: 13rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  margin: 1rem auto;
  position: relative;
}

.no_kanban {
  p {
    color: red;
    font-size: 0.8rem;
    font-weight: bolder;
  }
  button {
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgb(206, 206, 206);
    width: 90%;
    padding: 0.4rem 0;
    border-radius: 5px;
    bottom: 10px;
    left: 5%;
    position: absolute;
    transition: 0.3s ease-out;
    &:hover {
      background-color: rgb(38, 38, 71);

      color: white;
    }
  }
}
