.request_items{
    position: relative;
    background-color: white;
    width: 320px;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem auto;
    text-align: center;
}

.badge_request{
    position: absolute;
    text-transform: uppercase;
    top: -0.7rem;
    right: -0.3rem;
    height: 1.6rem;
    background-color: red;
    width: 5.6rem;
    border-radius: 10px;
    text-align: center;
    color: white;
}