@import '../../../SASS//reset';
@import '../../../SASS/variables';


.search_bar{
    margin: 2rem 1.5rem;
   
    z-index: 1;

    button{
        position: absolute;
        right: 0rem;
        top: 0;
        padding: 0 0.4rem;
        bottom: 0;
       
        border-radius: 0 0.2rem 0.2rem 0;
        cursor: pointer;
    }
}

.search_bar_input{
    height: 2.5rem;
    padding-left: 0.5rem;
    font-weight: bold;
  
    &:focus{
        border: solid 1px $dark_blue;
    }
}

.input_group{
    position: relative;
   
}