h3 {
  text-align: center;
    margin: 1rem auto;
}
table {
    width: 100%;
}

th{
    font-size: 0.7rem;
    background-color: black;
    color: white;
    padding: 0.3rem;
    text-align: center;
}

td{
    text-align: center;
}